	body{
			height: 775px;
			background:url(greenboard.jpg)no-repeat;
			background-size:100% 100%;
		}
				body {margin:0;}
				::-moz-selection { /* Code for Firefox */
				color: #b7e2e2;
				background: #0d1934;
				}
				::selection {
					color: #b7e2e2;
					background: #0d1934;
				}
				
				/* font */
			@font-face {
				  font-family: 'Cabin Sketch';
				  font-style: normal;
				  font-weight: 400;
				  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(https://fonts.gstatic.com/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhN.woff2) format('woff2');
				  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
				
			.p1index{
				font-size:20px;
				font-family:Century Gothic;
				color:#0d1934;
				text-align:justify;
				margin:0 20px 0 20px;
				}
			.notificationwidth{
			    content: "";
				display: table;
				clear: both;
			}
				.headtextindex{
				color:#1C353D;
				text-align:center;
				border-radius:20px;
				padding:20px;
				font-size:35px;
				background-color:#c3c3c3;
				max-width:800px;
				margin: auto;
				margin-top:40px;
				background-position: center;
				font-family:Century Gothic;
				}
				
				.card {
				  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				  max-width: 300px;
				  margin: auto;
				  text-align: center;
				  font-family: arial;
				}


				.notification1 {
				  border: none;
				  outline: 0;
				  display: inline-block;
				  padding: 8px;
				  color: white;
				  background-color: #000;
				  text-align: center;
				  cursor: pointer;
				  width: 100%;
				  font-size: 18px;
				}

			#button4
			{ 
			 color: white;
			 background-color:rgba(0,0,0,0);; 
			 border: none; 
			 font-size: 40px;
			 padding: 10px 30px;
			 width:100%;
			 font-family:"Cabin Sketch";
			 cursor: pointer;
			}
			#button55
			{ 
			 color: white;
			 background-color:rgba(0,0,0,0);
			 border:none;
			 font-size: 30px;
			 width:100%;
			 font-family:"Cabin Sketch";
			 cursor: pointer;
			}
			.date1{
			 font-size: 20px;
			 color: white;
			 text-align:left;
			 margin-top:-100px;
			 margin-left:40px;
			 font-family:"Cabin Sketch";
			}
			.date2{
			 font-size: 20px;
			 color: white;
			 text-align:left;
			 margin-top:-50px;
			 margin-left:87px;
			 font-family:"Cabin Sketch";
			}
			.bgindex{
				background-color:#c3c3c3;				
				border-radius:20px;
				max-width:800px;
				background-position: center;
				text-align:center;
			}
			.day1{
			 font-size: 20px;
			 color: white;
			 text-align:left;
			 margin-left:40px;
			 font-family:"Cabin Sketch";
			}
			.day2{
			 font-size: 20px;
			 color: white;
			 text-align:left;
			 margin-top:-50px;
			 margin-left:87px;
			 font-family:"Cabin Sketch";
			}
			.login1{
				float: right;
				margin-right:75px;
				 margin-top:-100px;
				}

			.login2{
			 font-size: 20px;
			 color: white;
			 text-align:right;
			 margin-top:-50px;
			 margin-right:40px;
			 font-family:"Cabin Sketch";
			}
			.logotta
			{
			margin-top:-125px;
			}
		
			.a2{
			text-decoration:none;
			}
			
			.a1{
				color:white;
				text-decoration: none;
			}
			.a1:hover {
				color:white;
			}
					* {
			box-sizing: border-box;
				}
			
				/* Create three equal columns that floats next to each other */
				.column {
					float: left;
					width: 33.33%;
					padding:5 px;
					
				}

				/* Clear floats after the columns */
				.row:after {
					content: "";
					display: table;
					clear: both;
				}

				/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
				@media screen and (max-width: 700px) {
						.column {
						float: left;
						width: 33.33%;
						padding:5 px;
						
					}
					#button4
					{ 
					 color: white;
					 background-color:rgba(0,0,0,0);; 
					 border: none; 
					 font-size: 22px;
					 padding: 10px 30px;
					 width:100%;
					 font-family:"Cabin Sketch";
					 text-align:center;
					 cursor: pointer;
					}
					.headtextindex{
					color:#1C353D;
					text-align:center;
					border-radius:20px;
					font-size:24px;					
					max-width:800px;
					margin-top:35px;
					
					padding:0px;
					background-position: center;
					font-family:Century Gothic;
					
					}
					.p1index{
					font-size:15px;
					font-family:Century Gothic;
					color:#0d1934;
					text-align:justify;
					margin:0 20px 0 20px;
					}
					.date1{
					 font-size: 20px;
					 color: white;
					 text-align:left;
					 margin-top:0px;
					 margin-left:10px;
					 font-family:"Cabin Sketch";
					}
					.date2{
					 font-size: 20px;
					 color: white;
					 text-align:left;
					 margin-top:-50px;
					 margin-left:60px;
					 font-family:"Cabin Sketch";
					}
					.home1{
					 
					 font-size: 20px;
					 color: white;
					 text-align:left;
					 margin-top:-50px;
					 margin-left:60px;
					 font-family:"Cabin Sketch";
					}

					.login2{
					 font-size: 20px;
					 color: white;
					 text-align:right;
					 margin-top:-50px;
					 margin-right:20px;
					 font-family:"Cabin Sketch";
					}
					.day1{
					 display:none;
					}
					.day2{
					display:none;
					}
					.logotta
					{
						display:none;
					}
				}
						/* font */
			@font-face {
				  font-family: 'Cabin Sketch';
				  font-style: normal;
				  font-weight: 400;
				  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'), url(https://fonts.gstatic.com/s/cabinsketch/v11/QGYpz_kZZAGCONcK2A4bGOj8mNhN.woff2) format('woff2');
				  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
				}
				
			#button44
			{ 
			 color: white;
			 background-color:rgba(0,0,0,0); 
			 font-size: 20px;
			<!--box-shadow: 0 5px 5px 0 rgba(0,0,0,.2),0 5px 5px 0 rgba(0,0,0,0.1);			-->
			 width:100%;
			 font-family:"Cabin Sketch";
			 cursor: pointer;
			}
	
			.head1{
			color: #add8e6;
			}
			.headtext{
			 color: white;
			 background-color:rgba(0,0,0,0); 
			 border: none; 		
			 padding: 10px 30px;
			 width:100%;
			 font-family:"Cabin Sketch";
			 text-align:center;
			}
			<!--drop down-->
			
			.dropbtn:hover, .dropbtn:focus {
				background-color: #2980B9;
			}

			.dropdown {
				position: relative;
				display: inline-block;
			}

			.dropdown-content {
				display: none;
				position: absolute;
				background-color: #c3c3c3;
				min-width: 93px;
				overflow: auto;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
			}

			.dropdown-content a {
				color: black;
				padding: 10px 10px;
				text-decoration: none;
				display: block;
			}

			.dropdown a:hover {background-color: #ddd;}

			.show {display: block;}
			<!--completed-->
			.a1{
				color:white;
				text-decoration: none;
			}
			.a1:hover {
				color:white;
			}

			* {
		box-sizing: border-box;
			}
			/* The grid: Three equal columns that floats next to each other */
		.column {
			float: left;
			width: 33.33%;
			text-align: center;
			font-size: 20px;
			cursor: pointer;
			font-family:"Cabin Sketch";
			color: white;
		}
		<!--code for syllabus center responsive-->
		* {
			box-sizing: border-box;
		}

		/* Create four equal columns that floats next to each other */
		.column11 {
			float: left;
			width: 50%;`
			padding: 10px;
		}

		/* Clear floats after the columns */
		.row11:after {
			content: "";
			display: table;
			clear: both;
		}

		/* Responsive layout - makes a two column-layout instead of four columns */
		@media screen and (max-width: 600px) {
			.column11  {
				width: 50%;
			}
			#button5{
			border=1px;
			border-color:white;
		}
		body{
			height: 1000px;
			background:url(greenboard.jpg)no-repeat;
			background-size:100% 100%;
		}
		}

		
					